* {
  font-family: 'Rubik', sans-serif;
  margin: 10px
}

input[type=checkbox] {
  cursor: pointer;
}

:is(textarea, input)::placeholder {
  font-style: italic;
}

.form__subscribe-label, .form__subscribe {
  display: inline;
}