<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="inquiries">(This is a placeholder)</div>
  <table id="inquiriesTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Inquiry</th>
        <th>Newsletter Subscription</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</body>

</html>